.content
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;

}
h3
{
  text-align: center;
}
img
{
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 5px;

}
.logo
{

  width: 20px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}
.card
{   position: absolute;
    top: 25%;
    left: 40%;
    width: 400px;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition-duration: 2s;
    transition-timing-function:ease-in-out;
    background-color: rgba(247, 243, 243, 0.988);
    
}
label
{
 display: block;  
 margin-top: 4px;

}
input
{
width: 90%;
padding: 8px;
border: none;
border-bottom: 2px black solid;
background-color:rgba(247, 243, 243, 0.988);
outline: none;
}
button
{
  background-color:  rgba(195, 175, 175, 0.988);
  margin-top: 5px;
  border-radius: 5px;
}
p
{
  color: red;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
@media (max-width:992px) {
  .content
  {
    grid-template-columns: repeat(2,1fr);
  }

  
}
@media (max-width:576px) {
  .content
  {
    grid-template-columns:1fr;
  }
}